
/*footer*/
.footer {
  padding: 0.5rem 0;
  border-top: none;
  background-color: #efefef;
}

.footer ,
.footer a:not(.btn) {
  color: inherit;
}

.footer_top .site-logo img{
  max-height: 40px;
}

.footer_top .quick-link li a:hover{
  color: inherit
}

.footer_bottom .container {
  padding: 20px;
}

.footer-lang-selector {
  margin-top: 4px;
  margin-left: 20px;
  padding: 3px 20px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 576px){
  section.banner .content{
    text-align: center;
  }
  section.banner .content h1{
    font-size: 30px;
  }

  .header-top .navbar-nav.list-inline{
    display: none;
  }

  nav.header-top .link{
    margin-left: auto;
  }

  footer {
    border-top: none;
  }

  footer .col-auto {
    -ms-flex: 0 0 auto;
    width: 100%; 
    text-align: center;
  }

}

